<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="../static/css/signin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function printError(elemId, hintMsg) {
            document.getElementById(elemId).innerHTML = hintMsg;
        }
        function validate() {
            var mail = document.getElementById("text1").value;
            if (mail == "") {
                printError("emailErr", "Please enter your email address");
            } else {
                // Regular expression for basic email validation
                var regex = /^\S+@\S+\.\S+$/;
                if (regex.test(mail) === false) {
                    printError("emailErr", "Please enter a valid email address");
                } else {
                    printError("emailErr", "");
                }
            }
        };
    </script>
</head>

<body class="IndexBody">
    <div class="LoginAndRegisterContainer">
        <div class="LoginContainer">
            <div class="LoginBody">
                <div class="LoginBodyLeft">
                    <h1 class="LoginBodyLefth2"> </h1>
                    <div class="LoginBodyLeftBottom">
                        
                        <h2 class="LoginBodyLeftBottomText">
                        </h2>
                        <img src="https://www.mswipe.com/assets/images/signIn_marchant_mswipe_Illustrations.svg" alt="">
                    </div>
                </div>
                <div class="LoginBodyRight">
                    <h2 class="LoginBodyRighth1">Welcome To panacea.ai</h2>
                   
                    <form method=POST action="{{ url_for('login') }}">
                    <div class="EmailContainer">
                        <div class="EmailText"> Your Email Address</div>
                       
                        <div class="InputTextBox"> <input type="text" name="username" size="40px" id="text1" /></div>
                        <p class="ErrorTextBox" id="emailErr"></p>
                        <div class="password">password </div>
                        <div class="InputTextBox"> <input type="password" name="pass" size="40px" id="text1" /></div>
                    </div>
                    <br>
                    <div class="registration"> <button type="submit">Log In</button></div>
                </form> 
                    <br>
                    <div class="MainLinesection">
                        <div class="HorizonalLIne">
                        </div>
                        
                        <div class="ORtext"> create an account </div>
                        <div class="HorizonalLIne"></div>
                        
                    </div>
                    <br>
                    <div class="registration">
                        <a href="{{url_for('register')}}"><button> sign up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>